Nama : Haqi Dhiya Firmana

NIM  : 23051130016

# **Module 2** : Basic 1 Part 1

In [ ]:
# print = function , "Pussy cat, pussy cat where have you been?" = argumen
print("Pussy cat, pussy cat where have you been?" )

Pussy cat, pussy cat where have you been?

In [ ]:
print("Pussy cat, pussy cat where have you been?" )
print("i've been to London to look at the queen.")

Pussy cat, pussy cat where have you been?
i've been to London to look at the queen.

In [ ]:
print("Pussy cat, pussy cat \nwhere have you been?\n" )
print("i've been to London \nto look at the queen.")

Pussy cat, pussy cat
where have you been?

i've been to London
to look at the queen.

In [ ]:
print( "Pussy cat", "pussy cat", "where have you been?" )

Pussy cat pussy cat where have you been?

In [ ]:
print("My name is", "Python " )
print("Monty Python")

My name is Python
Monty Python

In [ ]:
print( "My name is" , "Python", end=", ")
print( "Monty Python")

My name is Python, Monty Python

In [ ]:
print( "My", "name", "is",  "Monty" ,"Python", sep="-")

My-name-is-Monty-Python

In [ ]:
print("My" , "name" , "is " , sep=" " , end="*")
print("Monty", "Python", sep="-", end="*\n")

My name is *Monty-Python*

In [ ]:
print("2")
print(2)

print(type("2"))
print(type(2))

2
2
<class 'str'>
<class 'int'>

In [ ]:
print(2 + 3 - 5)
print(9/6)
print(9 % 6)
print(3*4)
print(3**4)

0
1.5
3
12
81

# **Module 3** : Operator & Statement

In [ ]:
a = int (input ( "masukkan a = "))
b = int (input ( "masukkan b = "))
c = int (input ( "masukkan c = "))
d = int (input ( "masukkan d = "))

print("\na==b", a==b)
print("a==c", a==c)
print("a!=b", a!=b)

print ( "a>d" , a>d)
print ("b<d" ,b<d)
print ("b>=d", b>=d)
print ("b<=d", b<=d)

masukkan a = 2
masukkan b = 3
masukkan c = 1
masukkan d = 2

a==b False
a==c False
a!=b True
a>d False
b<d False
b>=d True
b<=d False

In [ ]:
a = 5
b = 6

if a==b:
  print ("a dan b bernilai sama")
else:
  print ("a dan b bernilai berbeda")

a dan b bernilai berbeda

In [ ]:
a = 80

if a > 80:
  print ("Lulus")
elif a > 60:
  print ( "Mengulang" )
else :
  print ("Tidak Lulus")

Mengulang

In [ ]:
x = 10

if x > 5: # True
  if x == 6: # False
    print ("nested: x = 6")
  elif x == 10: # True
    print ("nested: x == 10")
  else :
    print("nested: else")
else :
  print ("else")

nested: x == 10

In [ ]:
#input nilai x dan y
print("Memasukkan nilai koordinat")
x = int(input("Masukkan nilai x :"))
y = int(input("Masukkan nilai y :"))

#memeriksa nilai x dan y
if x>0 and y>0 :
    print("Koordinat ("+ str(x) +", "+ str(y) +") berada pada kuadran " + "I")
elif x<0 and y>0 :
    print("Koordinat ("+ str(x) +", "+ str(y) +") berada pada kuadran " + "II")
elif x<0 and y<0 :
    print("Koordinat ("+ str(x) +", "+ str(y) +") berada pada kuadran " + "III")
elif x>0 and y<0 :
    print("Koordinat ("+ str(x) +", "+ str(y) +") berada pada kuadran " + "IV")
else :
    pass

Memasukkan nilai koordinat
Masukkan nilai x :1
Masukkan nilai y :2
Koordinat (1, 2) berada pada kuadran I

In [ ]:
for i in range(10):
  print("The value of i is currently ", i)

The value of i is currently  0
The value of i is currently  1
The value of i is currently  2
The value of i is currently  3
The value of i is currently  4
The value of i is currently  5
The value of i is currently  6
The value of i is currently  7
The value of i is currently  8
The value of i is currently  9

In [ ]:
for i in range(2, 8):
  print("The value of i is currently ", i)

The value of i is currently  2
The value of i is currently  3
The value of i is currently  4
The value of i is currently  5
The value of i is currently  6
The value of i is currently  7

In [ ]:
for i in range(2, 8, 3):
  print("The value of i is currently ", i)

The value of i is currently  2
The value of i is currently  5

In [ ]:
for i in range (11):
  print (i, end=" ")
  if i == 7:
    break

0 1 2 3 4 5 6 7

In [ ]:
print("The break instruction:")
for i in range(1, 6):
  if i == 3:
    break
  print("Inside the loop.", i)
print("Outside the loop.")

The break instruction:
Inside the loop. 1
Inside the loop. 2
Outside the loop.

In [ ]:
for i in range (1, 11) :
  if i % 2 == 0 :
    continue
  print (i, end='\t')

1	3	5	7	9

In [ ]:
#continue - examples

print("The continue instruction:")
for i in range(1, 6):
  if i == 3:
    continue
  print("Inside the loop.", i)
print("Outside the loop.")

The continue instruction:
Inside the loop. 1
Inside the loop. 2
Inside the loop. 4
Inside the loop. 5
Outside the loop.

In [ ]:
# list
a = [1, 2, 3, 4]

a.append("nana")
a.insert(1, "haha")
a.extend({10, 100})

print(a)
print (a[0])
print (a[-1])
print (a[1:])
print (a[:1])

[1, 'haha', 2, 3, 4, 'nana', 10, 100]
1
100
['haha', 2, 3, 4, 'nana', 10, 100]
[1]

In [ ]:
numbers = [10, 5, 7, 2, 1]
print("Original list content:", numbers) # printing original list content

numbers[0] = 111
print("\nPrevious list content:", numbers) # printing previous list content

numbers[1] = numbers[4] # copying value of the fifth element to the second
print("Previous list content:", numbers) # printing previous list content

print("\nList length:", len(numbers)) # printing the list's length

Original list content: [10, 5, 7, 2, 1]

Previous list content: [111, 5, 7, 2, 1]
Previous list content: [111, 1, 7, 2, 1]

List length: 5

In [ ]:
# # swap
numbers[0], numbers[1] = numbers[1], numbers[0]
print(numbers)

[1, 111, 7, 2, 1]

In [ ]:
myLIst = [8, 10, 6, 2, 4] # list to sort
swapped = True # it's a little fake - we need it to enter the while loop

while swapped:
    swapped = False # no swaps so far
    for i in range(len(myLIst) - 1):
        if myLIst[i] > myLIst[i + 1]:
            swapped = True # swap occured!
            myLIst[i], myLIst[i + 1] = myLIst[i + 1], myLIst[i]

print(myLIst)

[2, 4, 6, 8, 10]

In [ ]:
numbers = [5, 4, 3, 2, 1]

del numbers[1] # removing the second element from the list
print("New list's length:", len(numbers)) # printing new list length
print("\nNew list content:", numbers) # printing current list content

New list's length: 4

New list content: [5, 3, 2, 1]

# **Module 4** : FUNCTIONS, TUPLES, DICTIONARY, AND DATA-PROCESSING

In [ ]:
def message(fname, lname):
  print("hello ", fname, lname)

message("haqi", "dhiya")

hello  haqi dhiya

In [ ]:
# metode pemanggilan fungsi

def sum(a, b, c):
    print(a, "+", b, "+", c, "=", a + b + c)

sum(1, 2, 3)
sum(c = 3, a = 1, b = 2)
sum(1, c = 3, b = 2)
sum(1, 2, c = 3)

1 + 2 + 3 = 6
1 + 2 + 3 = 6
1 + 2 + 3 = 6
1 + 2 + 3 = 6

In [ ]:
# Fungsi dengan nilai default parameter: jika ada parameter yang dikosongkan, maka nilai default akan dipakai

def introduction(firstName, lastName="Smith"):
    print("Hello, my name is", firstName, lastName)

# call the function here
introduction("Henry")
introduction(firstName="William")
introduction("James", "Doe")

Hello, my name is Henry Smith
Hello, my name is William Smith
Hello, my name is James Doe

In [ ]:
# Fungsi dengan nilai kembalian (Return)

def sumTwoNumbers(num1, num2):
    sum = num1 + num2
    return sum

print(sumTwoNumbers(3, 5))

8

In [ ]:
# Tuple merupakan variabel yang dapat menyimpan banyak elemen, yang nilai elemennya tidak dapat diubah (immutable) secara in-situ.

myTuple = (1, 10, 100, 1000)

print(myTuple[0])
print(myTuple[-1])
print(myTuple[1:])
print(myTuple[:-2])

for elem in myTuple:
    print(elem)

1
1000
(10, 100, 1000)
(1, 10)
1
10
100
1000

In [ ]:
# Elemen tuple bisa dilakukan operasi penjumlahan dan perkalian

myTuple = (1, 10, 100)

t1 = myTuple + (1000, 10000)
t2 = myTuple * 3

print(len(t2))
print(t1)
print(t2)
print(10 in myTuple)
print(-10 not in myTuple)

9
(1, 10, 100, 1000, 10000)
(1, 10, 100, 1, 10, 100, 1, 10, 100)
True
True

In [ ]:
# dictionary

dict = {"cat" : "chat", "dog" : "chien", "horse" : "cheval"}
phoneNumbers = {'boss' : 5551234567, 'Suzy' : 22657854310}
emptyDictionary = {}

print(dict['cat'])
print(phoneNumbers['Suzy'])

chat
22657854310

In [ ]:
# Mengakses dictionary dengan keys()
for key in dict.keys():
    print(key, "->", dict[key])

cat -> chat
dog -> chien
horse -> cheval

In [ ]:
# Mengurutkan dictionary dengan sorted()
for key in sorted(dict.keys()):
    print(key, "->", dict[key])

cat -> chat
dog -> chien
horse -> cheval

In [ ]:
# Mengubah nilai elemen dan menambahkan anggota
dict['cat'] = 'minou'
print(dict)
dict['swan'] = 'cygne'
print(dict)

{'cat': 'minou', 'dog': 'chien', 'horse': 'cheval'}
{'cat': 'minou', 'dog': 'chien', 'horse': 'cheval', 'swan': 'cygne'}

In [ ]:
# Menambah anggota dengan perintah update()
dict.update({'duck' : 'canard'})
print(dict)

{'cat': 'minou', 'dog': 'chien', 'horse': 'cheval', 'swan': 'cygne', 'duck': 'canard'}

In [ ]:
# Menghapus anggota dengan perintah del
del dict['dog']
print(dict)

{'cat': 'minou', 'horse': 'cheval', 'swan': 'cygne', 'duck': 'canard'}

In [ ]:
# Menghapus anggota terakhir dengan perintah popitem()
print(dict.popitem())
print(dict)

('duck', 'canard')
{'cat': 'minou', 'horse': 'cheval', 'swan': 'cygne'}